.search-bar {
  margin: 15px;
  text-align: right;
}

.search-bar input {
  width: 60%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin: 15px;
  padding: 10px;
  border: 1px solid goldenrod;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #4d4de6;
}
